<div
  class="whiteboard"
  [tabIndex]="0"
  (keydown)="onKeyDown($event)"
  (keyup)="onKeyUp($event)"
  (mousemove)="onMouseMove($event)"
>
  <app-toolbar
    (clearCanvas)="onClear($event)"
    (selectedTool)="onSelectedTool($event)"
  />
  @if (showToolwheel()) {
  <app-toolwheel
    [posX]="toolWheelPosition().x"
    [posY]="toolWheelPosition().y"
  />
  }
  <canvas
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    #canvas
    [width]="width"
    [height]="height"
  >
    Oops, it looks like your browser doesn't support the canvas element!
  </canvas>
</div>
